{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}
{% block title_h1 %}Liste des offres d'emploi{% endblock %}

{% block body %}
    <section class="row mt-5">
        {% for ad in ads %}
            <div class="col-sm-6 mb-4">       
                <div class="card text-center">
                    <div class="card-header">
                        {{ ad.company.name }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ ad.name }}</h5>
                        <p class="card-text">{{ ad.description }}</p>
                        {% if ad.active == 0 and is_granted('ROLE_CONSULTANT') %}
                            <a class="btn btn-warning confirm-js" href="{{ path('app_ad_activate', {id:ad.id}) }}" role="button">Activer cette annonce</a>
                        {% endif %}
                        {% if 'ROLE_CANDIDATE' in app.user.roles|first %}
                            {% if app.user.candidate.cv == null %}
                                <p class="text-danger">Vous devez ajouter votre CV pour postuler aux offres</p>
                            {% endif %}

                               {% set alreadyCandidacy = null %}
                                {# Si le candidat a déja postulé #}
                                {% for candidacy in app.user.candidate.candidacies %}
                                    {% if candidacy.ad.id == ad.id and candidacy.approve == 0 %}
                                    {% set alreadyCandidacy = candidacy.ad.id %}
                                        <p class="bg-dark text-light p-3 rounded">Votre candidature doit être vérifiée par un admin</p>
                                    {% elseif candidacy.ad.id == ad.id and candidacy.approve == 1 %}
                                        {% set alreadyCandidacy = candidacy.ad.id %}
                                        <p class="bg-success text-light p-3 rounded">Votre candidature a bien été envoyé au recruteur</p>
                                    {% endif %}
                                {% endfor %}

                                {% if alreadyCandidacy == null %}
                                    <a href="{{ path('app_postule_ad', {id:ad.id}) }}" class="btn btn-primary">Postuler</a> 
                                {% endif %}
                        {% endif %}
                    </div>
                    <div class="card-footer text-muted">
                        <a href="{{ path('app_unique_ad', {id:ad.id}) }}">Plus de détails</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
    <div class="mb-5">
        {{ knp_pagination_render(ads) }}
    </div>
{% endblock %}



