{% extends 'base.html.twig' %}

{% block title %}{{ ad.name }}{% endblock %}
{% block title_h1 %}{{ ad.name }}{% endblock %}

{% block body %}
    <h2 class="text-center">{{ ad.company.name }}</h2>
    <p class="text-center">{{ ad.address }}</p>
    {% if ad.active == 0 and is_granted('ROLE_CONSULTANT') %}
        <div class="text-center mb-4">
            <a class="btn btn-warning confirm-js" href="{{ path('app_ad_activate', {id:ad.id, 'csrf_token':csrf_token('activate')}) }}" role="button">Activer cette annonce</a>
        </div>
    {% endif %}

    <p>{{ ad.description }}</p>
    <p>Salaire : {{ ad.salary }} euros</p>
    <p>Horaire quotidien : {{ ad.hourly }}</p>

    {% if 'ROLE_CANDIDATE' in app.user.roles|first %}
        {% if app.user.candidate.cv == null %}
            <p class="text-danger">Vous devez ajouter votre CV pour postuler aux offres</p>
        {% endif %}

        {% set alreadyCandidacy = null %}
        {# Si le candidat a déja postulé #}
        {% for candidacy in app.user.candidate.candidacies %}
            {% if candidacy.ad.id == ad.id and candidacy.approve == 0 %}
            {% set alreadyCandidacy = candidacy.ad.id %}
                <p class="bg-dark text-light p-3 rounded">Votre candidature doit être vérifiée par un admin</p>
            {% elseif candidacy.ad.id == ad.id and candidacy.approve == 1 %}
                {% set alreadyCandidacy = candidacy.ad.id %}
                <p class="bg-success text-light p-3 rounded">Votre candidature a bien été envoyé au recruteur</p>
            {% endif %}
        {% endfor %}

        {% if alreadyCandidacy == null and app.user.candidate.cv != null %}
            <a href="{{ path('app_postule_ad', {id:ad.id, 'csrf_token':csrf_token('postule')}) }}" class="btn btn-primary">Postuler</a> 
        {% endif %}
    {% endif %}

    {% if is_granted('ROLE_CONSULTANT') %}
        <a href="{{ path('app_ad_delete', {id:ad.id, 'csrf_token':csrf_token('delete-ad')}) }}" class="btn btn-danger confirm-js">Supprimer cette annonce</a> 
    {% endif %}

{% endblock %}