{% extends 'base.html.twig' %}

{% block title %}Profil candidat{% endblock %}
{% block title_h1 %}Profil candidat{% endblock %}

{% block body %}
    <h2 class="text-center">{{ candidate.firstname }} {{ candidate.lastname }}</h2>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {% if candidate.user.active == 0 and is_granted('ROLE_CONSULTANT') %}
        <div class="text-center">
            <h3>Ce compte n'a pas encore été activé</h3>
            <a class="btn btn-warning confirm-js" href="{{ path('app_candidate_activate', {id:candidate.user.id}) }}" role="button">Activer ce compte</a>
        </div>
    {% endif %}

    <div class="mon-cv mb-3 text-center">
        {% if candidate.cv != null %}
            <a href="/cv/{{ candidate.cv }}">Voir mon CV</a>
        {% endif %}
    </div>
    <div class="mt-4">
        {{ form_start(registrationForm) }}
            <div class="input-group input-group-lg mb-3">
                {{ form_widget(registrationForm.firstname) }}
            </div>
            {{ form_errors(registrationForm.firstname) }}

            <div class="input-group input-group-lg mb-3">
                {{ form_widget(registrationForm.lastname) }}
            </div>
            {{ form_errors(registrationForm.lastname) }}

            <div class="input-group input-group-lg mb-3">
                <input type="email" class="form-control" value="{{ candidate.user.email }}" disabled="disabled">
            </div>

            <div class="mb-3">
                {{ form_row(registrationForm.cv) }}
            </div>

            {{ form_row(registrationForm._token) }}

            <button type="submit" class="btn btn-primary btn-lg">Modifier mon compte</button>
        {{ form_end(registrationForm, {render_rest: false}) }}
    </div>
{% endblock %}